html{
    height: 100%;
}

img {
    max-width: 100%;
    height: auto;
}

a{
    color: white;
    text-decoration: none;
  }

.site{
    background-color: rgb(235, 51, 70);
    background-size: cover;
    margin: 0;
	padding: 0;
	font-family: sans-serif;
	font-size: 1em;
	line-height: 1.5;
    margin: 0;
    height: 100%;
    flex-flow: column wrap;
    align-items: stretch;
}

.header{
	box-shadow: 0 1px 24px rgba(0, 0, 0, 0.1);
    padding: 20px;
    order: 1;
}

.header-container{
    width: 960px;
	max-width: 100%;
	padding: 20px;
	margin: 0 auto;
}

.header .header-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

@media (min-width: 960px) {
	.header .header-container {
		justify-content: space-between;
	}
}

.main-nav ul {
    margin: 0;
	padding: 0;
	margin: 1em 0 .5em;
	text-align: center;
}

.main-nav li {
	display: inline;
}

.main-nav a {
    font-size: 1em;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	color: white;
	text-decoration: none;
	display: inline-block;
	padding: .5em 1.5em;
}

.logo{
    margin: 0 0 -10px;
}

.content{
    margin-left: auto;
    margin-right: auto;
    padding: 20px;  
    min-height: 100%;
}

.footer{
    box-shadow: 24px 1px 24px rgba(0, 0, 0, 0.1);
    padding: 20px;
    order: 3;
    font-size: 1em;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 0.1em;
    color: white;
    
}
.footer-container{
    width: 960px;
	max-width: 100%;
	padding: 20px;
    margin: 0 auto;
}

.footer .footer-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

@media (min-width: 960px) {
	.footer .footer-container {
		justify-content: space-between;
	}
}

@import "compass/css3";

@import url(https://fonts.googleapis.com/css?family=Merriweather);
$red: #e74c3c;

*, 
*:before, 
*:after {
   @include box-sizing(border-box); 
}


h1 {
   text-align: center;
   color: #a8a8a8;
   @include text-shadow(1px 1px 0 rgba(white, 1));
}

form {
   max-width: 600px;
   text-align: center;
   margin: 20px auto;
  
  input, textarea {
     border:0; outline:0;
     padding: 1em;
     @include border-radius(8px);
     display: block;
     width: 100%;
     margin-top: 1em;
     font-family: 'Merriweather', sans-serif;
     @include box-shadow(0 1px 1px rgba(black, 0.1));
     resize: none;
    
    &:focus {
       @include box-shadow(0 0px 2px rgba($red, 1)!important);
    }
  }
  
  #input-submit {
     color: white; 
     background: $red;
     cursor: pointer;
    
    &:hover {
       @include box-shadow(0 1px 1px 1px rgba(#aaa, 0.6)); 
    }
  }
  
  textarea {
      height: 126px;
  }
}


.half {
  float: left;
  width: 48%;
  margin-bottom: 1em;
}

.right { width: 50%; }

.left {
     margin-right: 2%; 
}


@media (max-width: 480px) {
  .half {
     width: 100%; 
     float: none;
     margin-bottom: 0; 
  }
}


/* Clearfix */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}
