html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #FF003E;
  font-family: sans-serif;
  font-size: 1em;
  line-height: 1.5;
}

:root {
  --brand-color: #FF003E;
}

body {
  display: flex;
  flex-direction: column;
}

header ul {
  background-color: var(--brand-color);
  box-shadow: 24px 1px 24px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-evenly;
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none; /* this removes the bullet points for li */
  padding: 10px;
}

ul {
  margin: 0; /* this removes the default margin for ul */
}

.nav a {
	margin: 1em 0 .5em;
    text-align: center;
    font-size: 1em;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	color: white;
	text-decoration: none;
	display: inline-block;
	padding: .5em 1.5em;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

main ul {
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;
}

.box {
  background-color: whitesmoke;
  width: 90%;
  margin: 5px;
  padding: 10px;
}

footer ul{
  background-color: var(--brand-color);
  box-shadow: 24px 1px 24px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-evenly;
  margin: 0;
  padding: 0;
  color: white;
}
footer a {
 
    text-align: center;
    font-size: 1em;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	color: white;
	text-decoration: none;
	display: inline-block;
	padding: .5em .5em;
}

footer p {
    text-align: center;
    font-size: 1em;
	font-weight: bold;
	text-transform: uppercase;
    letter-spacing: 0.1em;
	color: white;
	text-decoration: none;
	display: inline-block;
	padding: .5em .5em;
}



@media only screen and (max-width: 600px) {
  header ul {
    background-color: var(--brand-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
  }
}


.contactBody{
  background-color: ;
  background-size: cover;
  background-attachment: fixed;
  height:700px;

}
.title{
  margin: 0 auto;
  width: 50%;
  text-align: center;
  padding-bottom: 10px;
  font-size: 42px;
  color: rgb(252, 252, 252);
}

#title-Tag-Line{
    font-size: 20px;
}
/* This will center the form */
.wrapper {
  width: 80%;
  height: 50%;
  margin: 0 auto 0 auto; 
}

/* form animation starts */
.form {
  background: #EBEBEB;
  text-align: center; 
  box-shadow: 0px 0px 20px 5px #AAA; 
  border-radius: 10px;  
  width: 45%; 
  height: 400px;
  margin: 30px auto 0 auto;
  padding: 10px 10px;  
  animation: bounce 1.5s infinite;
}

.name { 
  background-color: #FF003E;
  border-bottom: 5px solid #FF003E;
  color: white;
  width:300px;
}

::-webkit-input-placeholder{
    color: white;
    font-size: 20px;
}
.name:hover{
  background-color: #FF003E;
  border-bottom: 5px solid #FF003E;
  height:30px;
  width:400px;
}

.email {
  background-color: #FF003E;  
  border-bottom: 5px solid #FF003E;
  height:50px;
  width:300px;
  
}
.email:hover{
  background-color: #FF003E;  
  border-bottom: 5px solid #FF003E;
  height:30px;
  width:380px;
 
}
.message {   
  background-color: #FF003E;
  border-bottom: 5px solid #FF003E;
  overflow: hidden;
  height: 100px;  
  width:300px;
}

.message:hover{
  background-color: #FF003E;
  border-bottom: 5px solid #FF003E;
  height: 100px;
  width:370px;
}

.submit{
  border-radius:5px;
  padding:10px;
  background-color: #FF003E;  
  border: none;
  border-bottom: 5px solid #FF003E; 
  transform: translateY(-120px); 

}

.submit:hover{
  border-bottom: 5px solid ##FF003E;  
  box-shadow: 15px 15px 15px 5px rgba(78, 72, 77, 0.219);
}

.entry{
  display: block;
  margin: 30px auto;
  padding: 10px;
  border-radius: 5px;
  border: none;
  transition: all 0.5s ease 0s;
  box-shadow: 0px 0px 25px 2px #AAA;  
}

/* Shadow to make it look like form is floating  */
.shadow{
  box-shadow: 0px 0px 60px 5px #AAA;
  opacity: 0.5;
  border-radius: 100px;
  width: 50%; 
  margin: 50px auto 0 auto;
  padding: 0 20px;  
  animation: shadow 1.5s infinite;
}
.submit{
  border-radius:5px;
  padding:10px;
  width:150px;
  color: white;
  background-color: #FF003E;  
  border: none;
  border-bottom: 5px solid #FF003E; 
  margin-top: 150px; 

}



